.artist-carousel {
  margin-bottom: 50px;

  .carousel {
    .item {

      height: calc(100vh - 60px);

      img {
        height: calc(100vh - 60px);
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 991px) {
  .artist-carousel {
    .carousel {
      .item {
        height: calc(100vh - 52px);

        img {
          height: calc(100vh - 52px);
        }
      }
    }
  }
}
